html,
body,
#root,
.app {
    position: relative;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

.three {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

body {
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #141414!important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


// scrollbar
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;

    &-track {
        background-color: transparent;
        border-radius: 5px;
    }

    &-thumb {
        background-color: #a6b2c3;
        border-radius: 5px;
    }

    &-corner {
        background-color: #ffffff;
    }
}
